:root {
  --info: rgb(47, 103, 199);
  --warning: rgb(204, 116, 23);
  --success: rgb(19, 171, 77);
  --danger: rgb(201, 33, 33);
  --warningBtn: linear-gradient(90deg, rgb(148, 57, 0), rgb(255, 208, 1));
  --errorBtn: linear-gradient(90deg, rgb(246, 38, 38), rgb(118, 0, 0));
  --defaultBtn: linear-gradient(270deg, rgb(24, 139, 215), rgb(180, 22, 191));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body {
  /* position: relative; */
  min-height: 200vh;
  background: linear-gradient(
    to top left,
    rgb(82, 82, 82),
    rgb(57, 57, 57),
    rgb(0, 0, 0)
  );
  color: #1f1f1f;
}

.modal-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  position: relative;
  z-index: 5;
  min-width: 35%;
  max-width: 700px;
  min-height: 180px;
  background-color: #d3d3d3;
  padding: 2rem 3rem 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 3rem 5rem rgba(255, 255, 255, 0.4);
}

.modal-title {
  font-size: 2.8rem;
  color: var(--info);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  margin: 1rem 0;
  gap: 1rem;
}

.modal-title.warning {
  color: var(--warning);
}

.modal-title.danger {
  color: var(--danger);
}

.modal-title.success {
  color: var(--success);
}

.icon {
  margin-bottom: 10px;
  font-size: 3.3rem;
}

.modal-description {
  font-size: 1.7rem;
  color: #6f6f6f;
  line-height: 2rem;
  letter-spacing: 0.5px;
}

.modal-buttons > button {
  font-size: 1.8rem;
  padding: 1.1rem 2.6rem;
  border-radius: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  margin: 1.2rem 1.5rem 0 0;
  color: #ffffff;
  transition: all 0.4s ease;
}

.modal-buttons > button:hover {
  opacity: 70%;
}

.modal-accept {
  background-color: var(--success);
}

.modal-reject {
  background-color: var(--danger);
}

.modal-warning {
  background: var(--warningBtn);
}
.modal-error {
  background: var(--errorBtn);
}
.modal-default {
  background: var(--defaultBtn);
}

.closer {
  position: absolute;
  top: 0;
  right: 1rem;
  border: none;
  background: transparent;
  font-size: 3.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.closer:hover {
  color: #a1a1a1;
}

.btn-show {
  font-size: 2.2rem;
  padding: 1.8rem 3.6rem;
  font-weight: 700;
  border: none;
  color: #e6e6e6;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1.5rem rgb(0, 0, 189),
    0 0 0.3rem rgb(0, 0, 189);
  cursor: pointer;
  border-radius: 8rem;
  margin: 4rem 2rem;
  position: relative;
  overflow: hidden;
}

.btn-show:hover {
  opacity: 0.8;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(143, 143, 143, 0.6);
  backdrop-filter: blur(3px);
}

span {
  position: absolute;
  background-color: #fff;
  animation: cloud 0.8s ease-in-out;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes cloud {
  0% {
    width: 0;
    height: 0;
    opacity: 0.45;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0.45;
  }
}
